doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="main.css")
    title Document
    script(src="script.js", type="module")
  body
    header
      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#") Menu
          li
            a(href="#") About
          li
            a(href="#") Contact
          li
            a(href="#", id="theme-switch") Theme
    main.container
      form
        fieldset
          label
            | First name
            input(name="first_name", placeholder="First name", autocomplete="given-name")
          label
            | Email
            input(type="email", name="email", placeholder="Email", autocomplete="email")
        input(type="submit", value="Subscribe")
      article
        h3 Title
        | Content
        details
          summary Summary
          p Some text
    footer footer
